In [6]:
print("vikas")
import pandas as pd
movie=pd.read_csv("movies.csv",encoding="Latin1")
ratings=pd.read_csv("ratings.csv")
tags=pd.read_csv("tags.csv",encoding="Latin1")

vikas

In [8]:
mean = ratings.groupby(by="userId",as_index=False)['rating'].mean()
rating_avg = pd.merge(ratings,mean,on='userId')
rating_avg['adg_rating']=rating_avg['rating_x']-rating_avg['rating_y']
rating_avg.head(n=5)

   userId  movieId  rating_x   timestamp  rating_y  adg_rating
0   12882        1       4.0  1147195252  4.061321   -0.061321
1   12882       32       3.5  1147195307  4.061321   -0.561321
2   12882       47       5.0  1147195343  4.061321    0.938679
3   12882       50       5.0  1147185499  4.061321    0.938679
4   12882      110       4.5  1147195239  4.061321    0.438679

In [9]:
from sklearn.metrics.pairwise import cosine_similarity
final=pd.pivot_table(rating_avg,values='adg_rating',index='userId',columns='movieId')
final.head(n=5)

movieId,1,2,3,4,5,6,7,9,10,11,...,106487,106489,106782,106920,109374,109487,111362,111759,112556,112852
userId,,,,,,,,,,,,,,,,,,,,,
316,-0.829457,NaN,NaN,NaN,NaN,NaN,-1.329457,NaN,-0.829457,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
359,1.314526,NaN,NaN,NaN,NaN,1.314526,NaN,NaN,0.314526,0.314526,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
370,0.705596,0.205596,NaN,NaN,NaN,1.205596,NaN,NaN,NaN,NaN,...,-1.294404,-0.794404,0.705596,0.205596,NaN,NaN,-0.794404,0.705596,-0.294404,-0.794404
910,1.101920,0.101920,-0.39808,NaN,-0.39808,-0.398080,NaN,NaN,NaN,0.101920,...,NaN,NaN,-0.398080,NaN,NaN,NaN,NaN,0.601920,NaN,NaN

In [82]:
ratings.sort_values('num rating',ascending=False).head(10)

KeyError: 'num rating'

In [72]:
# Replacing NaN by Movie Average
final_movie = final.fillna(final.mean(axis=0))
print(final_movie)

movieId    1         2         3         4         5         6         7       \
userId
316     -0.829457 -0.436518 -0.468109 -0.770223 -0.615331  0.320415 -1.329457
320      0.200220 -0.436518 -0.468109 -0.770223 -0.615331  0.320415 -0.203889
359      1.314526 -0.436518 -0.468109 -0.770223 -0.615331  1.314526 -0.203889
370      0.705596  0.205596 -0.468109 -0.770223 -0.615331  1.205596 -0.203889
910      1.101920  0.101920 -0.398080 -0.770223 -0.398080 -0.398080 -0.203889
...           ...       ...       ...       ...       ...       ...       ...
137609   0.200220 -0.436518 -0.468109 -0.770223 -0.615331  0.320415 -0.203889
137805   1.220790 -0.779210 -0.468109 -0.770223 -0.615331  0.320415 -0.203889
138072   0.567073 -1.432927 -1.432927 -0.770223 -0.615331  0.320415 -0.203889
138176   0.200220 -0.436518 -0.468109 -0.770223 -0.615331  0.320415 -0.203889
138200  -0.422249 -0.436518 -0.468109 -0.770223 -0.615331  0.320415 -0.203889

movieId    9         10        11      ...    106487    106489    106782  \
userId                                 ...
316     -0.690175 -0.829457 -0.094277  ...  0.105075  0.006629  0.262314
320     -0.690175 -0.150642 -0.094277  ...  0.105075  0.006629  0.262314
359     -0.690175  0.314526  0.314526  ...  0.105075  0.006629  0.262314
370     -0.690175 -0.150642 -0.094277  ... -1.294404 -0.794404  0.705596
910     -0.690175 -0.150642  0.101920  ...  0.105075  0.006629 -0.398080
...           ...       ...       ...  ...       ...       ...       ...
137609  -0.690175 -0.150642 -0.094277  ...  0.105075  0.006629  0.262314
137805  -0.690175 -1.279210  0.220790  ...  1.220790  0.006629  0.262314
138072  -0.932927  0.567073  0.567073  ...  0.105075  0.006629  0.262314
138176  -0.690175 -0.150642 -0.094277  ...  0.105075  0.006629  0.262314
138200  -0.690175 -0.150642 -0.094277  ...  0.105075  0.006629  0.262314

movieId    106920    109374    109487    111362    111759    112556    112852
userId
316      0.237350  0.429868  0.306567  0.225110  0.234458  0.362468  0.349157
320      0.237350  0.429868  0.306567  0.225110  0.234458  0.362468  0.349157
359      0.237350  0.429868  0.306567  0.225110  0.234458  0.362468  0.349157
370      0.205596  0.429868  0.306567 -0.794404  0.705596 -0.294404 -0.794404
910      0.237350  0.429868  0.306567  0.225110  0.601920  0.362468  0.349157
...           ...       ...       ...       ...       ...       ...       ...
137609   0.237350  0.429868  0.306567  0.225110  0.234458  0.362468  0.349157
137805   0.237350  0.429868  0.306567  0.225110  0.234458  0.362468  1.220790
138072   0.237350  0.429868  0.306567  0.225110  0.234458  0.362468  0.349157
138176   0.237350  0.429868  0.306567  0.225110  0.234458  0.362468  0.349157
138200   0.237350  0.429868  0.306567  0.225110  0.234458  0.362468  0.349157

[862 rows x 2500 columns]

In [47]:
# user similarity on replacing NAN by item(movie) avg
import numpy as np
cosine = cosine_similarity(final_movie)
np.fill_diagonal(cosine, 0 )
similarity_with_movie =pd.DataFrame(cosine,index=final_movie.index)
similarity_with_movie.columns=final_movie.index
similarity_with_movie.head()

userId,316,320,359,370,910,975,1015,1387,1447,1588,...,137118,137209,137227,137446,137559,137609,137805,138072,138176,138200
userId,,,,,,,,,,,,,,,,,,,,,
316,0.000000,0.921169,0.665659,0.673486,0.694247,0.894969,0.805780,0.851492,0.945224,0.705491,...,0.827564,0.895641,0.879290,0.916856,0.912146,0.922262,0.587738,0.671783,0.949138,0.740220
320,0.921169,0.000000,0.687225,0.691158,0.699527,0.916020,0.816931,0.874283,0.970234,0.724147,...,0.861798,0.909376,0.907009,0.938964,0.929049,0.943265,0.612746,0.695382,0.973853,0.768459
359,0.665659,0.687225,0.000000,0.534369,0.523475,0.655225,0.602806,0.629143,0.705042,0.542504,...,0.621820,0.654320,0.655839,0.679696,0.683900,0.686193,0.418283,0.489595,0.707370,0.534065
370,0.673486,0.691158,0.534369,0.000000,0.547560,0.671810,0.618456,0.628825,0.712683,0.548592,...,0.636688,0.673489,0.651209,0.688647,0.689265,0.692595,0.405881,0.497332,0.714011,0.546637
910,0.694247,0.699527,0.523475,0.547560,0.000000,0.680701,0.621463,0.634921,0.723574,0.528281,...,0.638257,0.668887,0.677377,0.701964,0.701245,0.705041,0.408456,0.509008,0.725896,0.554105

In [50]:
#from sklearn import  get_user_similar_movies
def get_user_similar_movies( user1, user2 ):
    common_movies = rating_avg[rating_avg.userId == user1].merge(
    rating_avg[rating_avg.userId == user2],
    on = "movieId",
    how = "inner" )
    return common_movies.merge( movie, on = 'movieId' )

In [51]:
#from sklearn import  get_user_similar_movies
a = get_user_similar_movies(370,86309)
a = a.loc[ : , ['rating_x_x','rating_x_y','title']]
a.head()

   rating_x_x  rating_x_y                                              title
0         5.0         5.0                                 Matrix, The (1999)
1         5.0         4.5  Lord of the Rings: The Fellowship of the Ring,...
2         5.0         4.0      Lord of the Rings: The Two Towers, The (2002)
3         4.5         4.0  Lord of the Rings: The Return of the King, The...
4         1.5         1.0                                    Serenity (2005)

In [54]:
def find_n_neighbours(df,n):
    order = np.argsort(df.values, axis=1)[:, :n]
    df = df.apply(lambda x: pd.Series(x.sort_values(ascending=False)
           .iloc[:n].index, 
          index=['top{}'.format(i) for i in range(1, n+1)]), axis=1)
    return df

In [57]:
# top 30 neighbours for each user
sim_user_30_m = find_n_neighbours(similarity_with_movie,30)
sim_user_30_m.head()

,top1,top2,top3,top4,top5,top6,top7,top8,top9,top10,...,top21,top22,top23,top24,top25,top26,top27,top28,top29,top30
userId,,,,,,,,,,,,,,,,,,,,,
316,138176,100240,96936,51460,88932,1447,104732,125012,5268,121403,...,121987,72633,21401,114335,22338,118304,124981,93203,81435,94333
320,138176,96936,121403,1447,51460,125012,88932,42944,5268,104529,...,121987,102549,118304,86309,94333,124981,93203,80585,136037,22338
359,138176,1447,5268,96936,100240,21401,88932,13927,104732,72633,...,12930,121987,114335,125012,51460,118304,57474,27142,80585,22338
370,86309,44194,138176,24802,129869,96936,1447,104529,94333,88932,...,124981,27142,102549,120308,54643,42944,80585,13927,21401,136037
910,96936,107991,138176,27142,51460,125012,88932,100240,72633,129869,...,36624,51255,94333,42944,121403,80585,61755,124981,88455,78908

In [59]:
def User_item_score(user,item):
    a = sim_user_30_m[sim_user_30_m.index==user].values
    b = a.squeeze().tolist()
    c = final_movie.loc[:,item]
    d = c[c.index.isin(b)]
    f = d[d.notnull()]
    avg_user = Mean.loc[Mean['userId'] == user,'rating'].values[0]
    index = f.index.values.squeeze().tolist()
    corr = similarity_with_movie.loc[user,index]
    fin = pd.concat([f, corr], axis=1)
    fin.columns = ['adg_score','correlation']
    fin['score']=fin.apply(lambda x:x['adg_score'] * x['correlation'],axis=1)
    nume = fin['score'].sum()
    deno = fin['correlation'].sum()
    final_score = avg_user + (nume/deno)
    return final_score

In [60]:
score = User_item_score(320,7371)
print(score)

4.255766437391595

In [64]:
def User_item_score1(user):
    Movie_seen_by_user = check.columns[check[check.index==user].notna().any()].tolist()
    a = sim_user_30_m[sim_user_30_m.index==user].values
    b = a.squeeze().tolist()
    d = Movie_user[Movie_user.index.isin(b)]
    l = ','.join(d.values)
    Movie_seen_by_similar_users = l.split(',')
    Movies_under_consideration = list(set(Movie_seen_by_similar_users)-set(list(map(str, Movie_seen_by_user))))
    Movies_under_consideration = list(map(int, Movies_under_consideration))
    score = []
    for item in Movies_under_consideration:
        c = final_movie.loc[:,item]
        d = c[c.index.isin(b)]
        f = d[d.notnull()]
        avg_user = Mean.loc[Mean['userId'] == user,'rating'].values[0]
        index = f.index.values.squeeze().tolist()
        corr = similarity_with_movie.loc[user,index]
        fin = pd.concat([f, corr], axis=1)
        fin.columns = ['adg_score','correlation']
        fin['score']=fin.apply(lambda x:x['adg_score'] * x['correlation'],axis=1)
        nume = fin['score'].sum()
        deno = fin['correlation'].sum()
        final_score = avg_user + (nume/deno)
        score.append(final_score)
    data = pd.DataFrame({'movieId':Movies_under_consideration,'score':score})
    top_5_recommendation = data.sort_values(by='score',ascending=False).head(5)
    Movie_Name = top_5_recommendation.merge(movies, how='inner', on='movieId')
    Movie_Names = Movie_Name.title.values.tolist()
    return Movie_Names

In [65]:
user = int(input("Enter the user id to whom you want to recommend : "))
predicted_movies = User_item_score1(user)
print(" ")
print("The Recommendations for User Id : ",user)
print("   ")
for i in predicted_movies:
    print(i)

Enter the user id to whom you want to recommend : 370

NameError: name 'check' is not defined